body {
    background-color: silver;
}

.container {
    background-color:white;
    padding: 5px;
    max-width: 30%;
    margin: 0 auto;
    border-radius: 2px;

}

h2, input{
    text-align: center;
}

header{
    background-color: gray;
    padding: 10px;
}

.title {
    text-align: center;
    color: white;  
}



